In [128]:
import pandas as pd
from datetime import datetime, timedelta

now = datetime.now()
df = pd.read_excel("datasets/generated_flights.xlsx")

In [129]:
df['sta-std'] = df['sta'] - df['std']
df['std-now'] = df['std'] - now
df['bool(std-now)<1'] = df['std-now'] < timedelta(days = 1)
df['bool(sta-std)<2'] = df['sta-std'] < timedelta(days = 2)
df['bool(sta-std)>1'] = df['sta-std'] > timedelta(days = 1)
df['2>bool(sta-std)>1'] = df['bool(sta-std)<2'] * df['bool(sta-std)>1']
df.drop(columns=['bool(sta-std)>1','bool(sta-std)<2'])

,Unnamed: 0,std,sta,id,from,to,f_capacity,j_capacity,w_capacity,y_capacity,f_availability,j_availability,w_availability,y_availability,sta-std,std-now,bool(std-now)<1,2>bool(sta-std)>1
0,0,2023-12-02 19:00:15.375,2023-12-03 14:01:59.375,CX0,CDG,HKG,21,43,144,155,11,18,20,1,0 days 19:01:44,13 days 13:26:40.751782,False,False
1,1,2023-12-01 23:58:23.375,2023-12-03 20:40:33.375,CX1,ZRH,HKG,23,41,102,169,13,21,10,20,1 days 20:42:10,12 days 18:24:48.751782,False,True
2,2,2023-12-06 04:23:33.375,2023-12-08 02:19:26.375,CX2,TPE,HKG,16,39,134,184,0,15,6,16,1 days 21:55:53,16 days 22:49:58.751782,False,True
3,3,2023-12-01 21:19:10.375,2023-12-02 19:27:23.375,CX3,TPE,HKG,15,42,142,184,15,12,5,11,0 days 22:08:13,12 days 15:45:35.751782,False,False
4,4,2023-11-26 08:35:19.375,2023-11-27 01:16:19.375,CX4,ZRH,HKG,28,34,116,199,21,14,20,14,0 days 16:41:00,7 days 03:01:44.751782,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,2023-11-23 03:54:19.375,2023-11-24 18:25:54.375,CX995,MXP,HKG,17,50,129,174,4,1,0,6,1 days 14:31:35,3 days 22:20:44.751782,False,True
996,996,2023-11-28 21:21:01.375,2023-11-30 06:13:02.375,CX996,MXP,HKG,30,33,109,167,3,9,0,26,1 days 08:52:01,9 days 15:47:26.751782,False,True
997,997,2023-12-18 01:23:21.375,2023-12-19 09:30:54.375,CX997,ZRH,HKG,28,47,132,169,3,9,15,12,1 days 08:07:33,28 days 19:49:46.751782,False,True
998,998,2023-11-24 00:13:14.375,2023-11-24 04:36:39.375,CX998,ZRH,HKG,20,40,115,199,4,8,4,0,0 days 04:23:25,4 days 18:39:39.751782,False,False
999,999,2023-11-21 07:47:08.375,2023-11-21 19:11:57.375,CX999,TPE,HKG,20,33,120,159,9,18,20,19,0 days 11:24:49,2 days 02:13:33.751782,False,False

In [130]:
class_df = pd.read_excel("datasets/class_weight.xlsx")

In [131]:
class_df

   Unnamed: 0 class  weight/kg
0           0     f         15
1           1     j         10
2           2     w          7
3           3     y          7

In [132]:
df['free_weight'] = df['f_availability'] * class_df.loc[class_df['class'] == 'f'].loc[0, 'weight/kg']

In [133]:
df

,Unnamed: 0,std,sta,id,from,to,f_capacity,j_capacity,w_capacity,y_capacity,...,j_availability,w_availability,y_availability,sta-std,std-now,bool(std-now)<1,bool(sta-std)<2,bool(sta-std)>1,2>bool(sta-std)>1,free_weight
0,0,2023-12-02 19:00:15.375,2023-12-03 14:01:59.375,CX0,CDG,HKG,21,43,144,155,...,18,20,1,0 days 19:01:44,13 days 13:26:40.751782,False,True,False,False,165
1,1,2023-12-01 23:58:23.375,2023-12-03 20:40:33.375,CX1,ZRH,HKG,23,41,102,169,...,21,10,20,1 days 20:42:10,12 days 18:24:48.751782,False,True,True,True,195
2,2,2023-12-06 04:23:33.375,2023-12-08 02:19:26.375,CX2,TPE,HKG,16,39,134,184,...,15,6,16,1 days 21:55:53,16 days 22:49:58.751782,False,True,True,True,0
3,3,2023-12-01 21:19:10.375,2023-12-02 19:27:23.375,CX3,TPE,HKG,15,42,142,184,...,12,5,11,0 days 22:08:13,12 days 15:45:35.751782,False,True,False,False,225
4,4,2023-11-26 08:35:19.375,2023-11-27 01:16:19.375,CX4,ZRH,HKG,28,34,116,199,...,14,20,14,0 days 16:41:00,7 days 03:01:44.751782,False,True,False,False,315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,2023-11-23 03:54:19.375,2023-11-24 18:25:54.375,CX995,MXP,HKG,17,50,129,174,...,1,0,6,1 days 14:31:35,3 days 22:20:44.751782,False,True,True,True,60
996,996,2023-11-28 21:21:01.375,2023-11-30 06:13:02.375,CX996,MXP,HKG,30,33,109,167,...,9,0,26,1 days 08:52:01,9 days 15:47:26.751782,False,True,True,True,45
997,997,2023-12-18 01:23:21.375,2023-12-19 09:30:54.375,CX997,ZRH,HKG,28,47,132,169,...,9,15,12,1 days 08:07:33,28 days 19:49:46.751782,False,True,True,True,45
998,998,2023-11-24 00:13:14.375,2023-11-24 04:36:39.375,CX998,ZRH,HKG,20,40,115,199,...,8,4,0,0 days 04:23:25,4 days 18:39:39.751782,False,True,False,False,60
999,999,2023-11-21 07:47:08.375,2023-11-21 19:11:57.375,CX999,TPE,HKG,20,33,120,159,...,18,20,19,0 days 11:24:49,2 days 02:13:33.751782,False,True,False,False,135

In [147]:
flight_output = df.sort_values(by='free_weight', ascending=False, ignore_index=True).head(1)

In [150]:
flight_output.loc[0,'from']

'HND'

In [151]:
product_df = pd.read_excel('datasets/Food_and_Wines.xlsx')

In [152]:
df_output = product_df.loc[product_df['countries'] == flight_output.loc[0,'from']]

In [156]:
df_output.sort_values(by='numberPurchased', ascending=False).head(3)

,Unnamed: 0,baseProduct,brandName,img2ForPLP,description,discountFullCashPrice,countries,weight/kg,numberPurchased
58,169,CWS_0968,Fook Ming Tong,/medias/HP00221-02.jpg-AML-Convert-294Wx195H?c...,<p>Fook Ming Tong Tea Lifestyles Gift Set (Sel...,158,HND,1,48
13,20,RHI_0055,Regal Airport Hotel,/medias/RAH-Xmas-Dinner-Generic-2.jpg-AML-Conv...,<p>Caf&eacute; Aficionado is one of Hong Kong'...,768,HND,5,47
57,168,KED_0009,Cuvaison Estate,/medias/Andy-Warhol-Chardonnay.jpg-AML-Convert...,<p>1 x 2014 Chardonnay</p>\n<p>1 x 2014 Red Bl...,1736,HND,4,46